@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif, Arial, Helvetica, ;
}


.section-height-xl{
  @apply xl:h-[calc(100dvh-40px)] px-2;
}

.section-height{
  @apply h-[calc(100dvh-40px)] px-2;
}