.header {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 25px;

    z-index: 999;
    position: sticky;
    top: 0;
    z-index: 99;
}

.navigation {
    padding-right: 50px;
}

.navigation>a {
    font-weight: bolder;
}

.navigation>a:hover {
    border-bottom: 2px solid black;
}
